option_settings:
  # Configure Node.js platform
  aws:elasticbeanstalk:platform:nodejs:
    NodeCommand: "npm start"
    NodeVersion: 20

  # Configure proxy server
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

container_commands:
  01_skip_default_npm:
    command: "touch /opt/elasticbeanstalk/hooks/appdeploy/pre/50npm.sh && chmod 000 /opt/elasticbeanstalk/hooks/appdeploy/pre/50npm.sh || true"
    ignoreErrors: true
    leader_only: false
