files:
  # Create a .npmrc file for webapp user
  "/home/webapp/.npmrc":
    mode: "000644"
    owner: webapp
    group: webapp
    content: |
      save-exact=true
      package-lock=true
      audit=false
      fund=false
      loglevel=warn
      ignore-scripts=true

commands:
  # Install Prisma globally
  01_install_prisma:
    command: "npm install -g prisma"
    ignoreErrors: true
