commands:
  01_install_prisma:
    command: |
      cd /var/app/staging
      npm install -g prisma
      npm install --no-save @prisma/client
      npx prisma generate
    ignoreErrors: true

  02_fix_permissions:
    command: |
      # Ensure node_modules is owned by webapp
      chown -R webapp:webapp /var/app/staging/node_modules
    ignoreErrors: true
