option_settings:
  # Set environment variables
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: "production"
    # Reference the SSM parameter with the EB parameter placeholder format
    DATABASE_URL: "#{aws:ssm:/${var.prefix}/${var.environment}/database-url}"

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: /var/app/current/dist/static
