packages:
  yum:
    amazon-ssm-agent: []

commands:
  01_enable_ssm:
    command: systemctl enable amazon-ssm-agent

  02_start_ssm:
    command: systemctl start amazon-ssm-agent

  03_check_ssm_status:
    command: systemctl status amazon-ssm-agent >> /var/log/eb-ssm-install.log

  04_setup_logging:
    command: |
      mkdir -p /var/log/amazon/ssm
      touch /var/log/amazon/ssm/amazon-ssm-agent.log
      touch /var/log/amazon/ssm/errors.log
      chmod 644 /var/log/amazon/ssm/amazon-ssm-agent.log
      chmod 644 /var/log/amazon/ssm/errors.log
