# Environment
environment = "dev"
aws_region  = "ap-south-1"

# Service
service_name = "loan-apps-svc"

# VPC
vpc_cidr             = "10.0.0.0/16"
public_subnet_cidrs  = ["10.0.101.0/24", "10.0.102.0/24"]
private_subnet_cidrs = ["10.0.1.0/24", "10.0.2.0/24"]
availability_zones   = ["ap-south-1a", "ap-south-1b"]

# Database
db_instance_class    = "db.t3.small"
db_allocated_storage = 20
db_name              = "loandb"
db_username          = "dbadmin"

# Elastic Beanstalk
eb_solution_stack_name = "64bit Amazon Linux 2023 v6.1.0 running Node.js 20"
eb_instance_type       = "t3.small"
eb_min_instances       = 1
eb_max_instances       = 2

# CI/CD Pipeline
github_repository = "your-username/loan-applications-service"
github_branch     = "main"
codestar_connection_arn = "sample"

# Application configuration
api_access_token = "your-secure-api-token-at-least-32-characters"
